<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script src="../vue.js"></script>

  <div id="app">
    <form @submit="validate">
      <input type="text" v-model="text" />
      <br />
      <input type="text" v-model="email" />

      <ul v-if="!$v.valid" style="color: red;">
        <li v-for="(error, index) in $v.errors" :key="index">
          {{ error }}
        </li>
      </ul>

      <input type="submit" :disabled="!$v.valid" />
    </form>
  </div>

  <script>
    const emailRE = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/

    const validationPlugin = {
      install(Vue) {
        Vue.mixin({
          computed: {
            $v() {
              let valid = true
              const errors = []

              const rules = this.$options.validations

              Object.keys(rules).forEach(key => {
                const rule = rules[key]
                const value = this[key] // 注册响应式

                const result = rule.validate(value)
                if (!result) {
                  valid = false
                  errors.push(rule.message(key, value))
                }
              })

              return {
                valid,
                errors
              }
            }
          }
        })
      }
    }

    Vue.use(validationPlugin)

    new Vue({
      el: '#app',
      data: {
        text: 'foo',
        email: ''
      },
      validations: {
        text: {
          validate: value => value.length >= 5,
          message: (key, value) => `${key} should have a min length of 5, but got ${value.length}`
        },
        email: {
          validate: value => emailRE.test(value),
          message: key => `${key} must be a valid email`
        }
      },
      methods: {
        validate(e) {
          if (!this.$v.valid) {
            e.preventDefault()
            alert('not valid!')
          }
        }
      }
    })
  </script>
</body>

</html>
